article {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 50em;
  width: 90vw;
  border-bottom: 1px solid #ddd;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  margin: 3vh 0 3vh 0;
  text-align:center;
}

h1 {
  font-family: "Roboto condensed", sans-serif;
  font-size: 6vw;
  margin: 0 0 1em 0;
  padding: 0 0 1em 0;
  border-bottom: 1px solid #ddd;
}

p {
  font-size: 1em;
  margin: 0 auto 1em auto;
  text-align: justify;
  max-width: 50em;
}
